body {
	color: #444;
}

* {
	box-sizing: border-box;
	outline: none !important;
}

a {
	color: inherit;
	text-decoration: none;
}

#grid {
	margin-bottom: 2.5em;
}

#grid > * {
	margin-bottom: 1.25rem;
}

#table #table-title {
	font-size: 1.5em;
}

.main {
	max-width: 992px;
}

@media (min-width: 572px) and (max-width: 768px) {
	#doughnut-chart {
		max-width: 400px !important;
		height: auto !important;
	}
}

@media (min-width: 768px) {
	#grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	#grid > * {
		width: calc(33.33% - 0.75rem);
	}

	#grid > *:nth-child(4) {
		width: calc(66.66% - 0.25rem);
	}
}
